<div class="row">

  <div class="col-md-6 col-xl-3">
    <card [bgColor]="'danger'" class="info-card">
      <div class="title text-uppercase">Total Users</div>
      <div class="count">{{m_users.count}}</div>
      <!-- <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+17%</badge> <small>from previous period</small> -->
      <md-icon>shopping_basket</md-icon>
    </card>
  </div>

  <div class="col-md-6 col-xl-3">
    <card [bgColor]="'warning'" class="info-card">
      <div class="title text-uppercase">Merchants</div>
      <div class="count">{{merchants}}</div>
      <!-- <small>11750</small> -->
      <md-icon>equalizer</md-icon>
    </card>
  </div>

  <div class="col-md-6 col-xl-3">
    <card [bgColor]="'info'" class="info-card">
      <div class="title text-uppercase">Users</div>
      <div class="count">{{normalusers}}</div>
      <!-- <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+210</badge> -->
      <md-icon>monetization_on</md-icon>
    </card>
  </div>

</div>
<card [title]="'Filter'">
  <md-input-container style="width: 100%" class="mb-2" dividerColor="accent">
    <input mdInput placeholder="Type to filter the email column..." required (keyup)='updateFilter($event)'>
  </md-input-container>
</card>

<ngx-datatable
  class="material"
  [rows]="m_users"
  [headerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10"
  [loadingIndicator]="loadingIndicator"
  [footerHeight]="50">
  <ngx-datatable-column name="No" >
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" w>
      <span>{{value}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Picture">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" >
      <img src="{{value}}" style="width : 100px;height:100px" />
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Email" >
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <span>{{value}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Name">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <span>{{value}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Birthday">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <span>{{value}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Gender">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <span>{{value}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Type" >
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <span>{{value}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Comments">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <span>{{value}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Events">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <md-chip-list class="md-chip-list example-chips">
        <md-chip *ngFor="let chip of value" selected="true" color="accent">
          {{chip.name}}
        </md-chip>
      </md-chip-list>
    </ng-template>
  </ngx-datatable-column>

<ngx-datatable-column name="Daysoffweek">
  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
    <md-chip-list class="md-chip-list example-chips">
      <md-chip *ngFor="let chip of value" selected="true" color="warn">
        {{chip}}
      </md-chip>
    </md-chip-list>
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="">
  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
    <button md-icon-button><md-icon>edit</md-icon></button>
    <button md-icon-button (click)="onRemove(row.no - 1)"><md-icon>delete</md-icon></button>
  </ng-template>
</ngx-datatable-column>
</ngx-datatable>
